header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #000; */
  color: #fff;
  padding: 30px;
  max-width: 1152px;
  margin: auto;
  height: 120px;
  ul {
    display: flex;
    gap: 30px;
    align-items: center;
  }
}
